virtual-scroll {
  display: block;
  min-width: 200px;
  max-height: 30vh;
}

.dropdown-virtual-scroll {
  position: absolute;
  background: white;
  z-index: 10;
  margin-top: 30px;
}

.dc-dropdown {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
}

.dc-dropdown-caption {
  background-color: #E3E3E3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 25px;
  max-height: 25px;
  padding-top: 2px;
  font-weight: 400;
  padding-left: 5px;
  color:#808080;
}

.dc-dropdown-open {
  width: 100%;
  display: flex;
}

.dc-dropdown-label {
  user-select: none;
  line-height: 24px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.dc-dropdown-caption:hover {
  color:black;
}
.dc-dropdown-caption-toggle {
	margin-right: 15px;
	user-select: none;
}

.dc-dropdown-caption-toggle:hover {
    cursor: pointer;
}

.dc-filter-dropdown-caption-active {
  background-color: rgba(5, 119, 189, 0.23);
  color:black;
}

.dc-dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

